{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "1.1.587"}

        org.apache.kafka/kafka-clients {:mvn/version "2.4.0"}
        org.apache.kafka/kafka-streams {:mvn/version "2.4.0"
                                        :exclusions [org.rocksdb/rocksdbjni]}
        org.rocksdb/rocksdbjni {:mvn/version "6.5.3"} #_{:mvn/version "5.18.3"}

        juxt/crux-core {:mvn/version "20.03-1.8.0-alpha"}
        juxt/crux-rocksdb {:mvn/version "20.03-1.8.0-alpha"
                           :exclusions [org.rocksdb/rocksdbjni]}
        juxt/crux-kafka {:mvn/version "20.03-1.8.0-alpha"
                         :exclusions [org.apache.kafka/kafka-clients]}}
 :aliases
 {:main
  {:jvm-opts ["-Dclojure.core.async.pool-size=1" "-Dclojure.compiler.direct-linking=true"]
   :main-opts ["-m" "fiber.main"]}

  :repl
  {:extra-deps {deps-repl/deps-repl {:git/url "https://github.com/empire-strikes-back/deps-repl"
                                     :sha "24266c05ce16c27ec3464ae6453b931aa0398a1b"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}}
   :main-opts ["-m" "deps-repl.main"
               "--init-ns" "fiber.main"
               "--port" "7788"
               "--bind" "0.0.0.0"
               "--middleware" "cider.nrepl/cider-middleware"]}}}