{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "1.1.587"}

        org.apache.kafka/kafka-clients {:mvn/version "2.4.0"}
        org.apache.kafka/kafka-streams {:mvn/version "2.4.0"
                                        :exclusions [org.rocksdb/rocksdbjni]}
        org.rocksdb/rocksdbjni {:mvn/version "6.5.3"} #_{:mvn/version "5.18.3"}

        juxt/crux-core {:mvn/version "20.03-1.8.0-alpha"}
        juxt/crux-rocksdb {:mvn/version "20.03-1.8.0-alpha"
                           :exclusions [org.rocksdb/rocksdbjni]}
        juxt/crux-kafka {:mvn/version "20.03-1.8.0-alpha"
                         :exclusions [org.apache.kafka/kafka-clients]}}
 :aliases
 {:repl
  {:extra-deps {deps-repl/deps-repl {:git/url "https://github.com/empire-strikes-back/deps-repl"
                                     :sha "8904c39e136aacafc70c3e066856fc87bcdec127"}}}
  :main
  {:jvm-opts ["-Dclojure.core.async.pool-size=1" "-Dclojure.compiler.direct-linking=true"]
   :main-opts ["-m" "kafka-scout.main"]}}}